<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--*firefox, *chrome, *iexplore,*ie-->
    <add key="Tests.Browser" value="*chrome"/>
    <!--local, localhost, segrid.active.tan -->
    <add key="Tests.Host" value="segrid.active.tan"/>

    <add key="Tests.Port" value="4444"/>
    <!--QA, STAGING, INT, INT2, INT3,proc-->
    <add key="Tests.Environment" value="QA"/>
    <add key="Tests.WaitTimeoutInterval" value="10"/>
    <add key="Tests.DriverPath" value="D:\#SourceCode\SeleniumDriver"/>

    <add key="DataAccess.CommandFilePath" value="\Configs\Data"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
